#details-title {
    font-size: 3.5rem !important;
    margin-left: 1%;
}

.container {
    width: 70%;
}

.react-datepicker-wrapper input {
    border: none;
    border-bottom: #5CD4EF 2px solid;
    margin-top: 18px;
    width: 20.2em;
    background-color: transparent !important;
}

.form-group input {
    border: none;
    border-bottom: #5CD4EF 2px solid;
}

.form-group input:focus {
    outline: none;
    border-bottom: #FFA861 2px solid;
    box-shadow: none;
}

.form-group .custom-select {
    border: none;
    border-bottom: #5CD4EF 2px solid;
}

.form-group .custom-select:focus {
    outline: none;
    border-bottom: #FFA861 2px solid;
    box-shadow: none;
}


#submit {
    float: right;
}