h1 {
    font-size: 3.5rem;
}

.btn {
    font-size: 2rem !important;
    font-family: 'Work Sans', sans-serif;
    background-color: #FFA861 !important;
    outline: none !important;
    border: none !important;
    border-radius: 10px;
    width: 20rem;
}

.center {
    margin: auto;
    text-align: center;
}